%footer.section.section-default.section-footer
  .footer-left
    %h3 Öffnungszeiten
    %p
      Wir haben von Donnerstag bis Montag jeweils ab 18 Uhr für Sie geöffnet.
      Sonn- und Feiertags ab 11:30 Uhr bis 14 Uhr.
      Wir empfehlen vorab zu reservieren.

    %p
      Restaurant: Werkstraße 5 &middot; 85298 Mitterscheyern/Pfaffenhofen

    = link_to 'Der Weg zu uns', 'http://www.hiasinho.com'

  .footer-right
    %h3 Reservierung
    %p
      Sie können jederzeit per Mail oder Donnerstags bis Montags von 14 bis 22 Uhr telefonisch einen Tisch reservieren.
    %p
      Telefon: 08441 2788810

    = link_to 'Reservieren', 'http://www.hiasinho.com'

  .footer-bottom
    %p
      %a.fa.fa-facebook-official{href: 'https://www.facebook.com/Restaurant.Kontrast', target: :blank}
      %a.fa.fa-vimeo-square{href: 'https://vimeo.com/user41356849', target: :blank}
      %a.fa.fa-envelope{href: 'mailto:?subject=Kontrast Gourmet Restaurant', target: :blank}

      %br/
      &copy;
      = link_to 'KONTRAST', '/'
      &middot;
      = link_to 'Impressum', '/impressum.html'
      &middot;
      = link_to 'Datenschutz', '/datenschutz.html'
      &middot;
