.navigation
  .container
    %a#toggle-menu.hidden
      %div
        %span.top
        %span.middle
        %span.bottom
      %div
        Menu
  %nav.nav-menu
    %li
      = root_url 'Start'
    %li
      = link_to 'À la carte Klassiker', '/alacarte.html'
    %li
      = link_to 'Unsere Menüs', '/menues.html'
    %li
      = link_to 'Reservieren', 'mailto:reservierung@restaurant-kontrast.de?subject=Reservierung', target: :blank
  %nav.nav-menu-sub
    %li
      = link_to 'Impressum', '/impressum.html'
    %li
      = link_to 'Datenschutz', '/datenschutz.html'
