---
title: Unsere Menüs
---

.section.center
  .section-content
    %h2 Unsere Menüs

    %h3 Sommermenü
    %h4 Frische, leichte Küche
    %p
      Passend zur warmen Jahreszeit servieren wir Ihnen ein 4-Gang Menü mit Salaten, Melonen, Sashimi, gegrilltem Seefood und erfrischendem, fruchtigem Eis-Dessert.
      %br/
      45,- € pro Person.

    = booking subject: "Sommermenü"
    %p
      .fa.fa-minus

    %h3 Honigwelten
    %h4 Honig-Menü
    %p
      Nur am 02.05.16
      %br/
      Mit Honig lässt sich viel mehr anstellen als nur heiße Milch mit Honig. Wir zaubern für Sie ein Menü rund um die Vielfalt des flüssigen Goldes.
      %br/
      79,- € pro Person.

    = booking subject: "Honigwelten"
    %p
      .fa.fa-minus

    %h3 Surprise
    %h4 Unser Überaschungsmenü
    %p
      Lassen Sie sich von unserer Küchenchefin überraschen. Wählen Sie zwischen 3, 4 oder 5 Gängen - mit und ohne Weinbegleitung. Auf Vorbestellung gerne auch als vegetarische oder vegane Variante!
      %br/
      Ab 35,- € pro Person.

    = booking subject: "Surprise"
    %p
      .fa.fa-minus

    %h3 Craftbeer Sensation
    %h4 Degustationsmenü rund ums Thema Bier
    %p
      Nur am 21.09.15
      %br/
      Von einer Bier-Sommelière begleitet servieren wir ein 5-Gang Bier-Degustations-Menü inklusive Verkostung von verschiedenen Bieren pro Gang.
      %br
      99,- € pro Person.

    = booking subject: "Craftbeer Sensation"
    %p
      .fa.fa-minus

    %h3 World of Chocolate
    %h4 Schokoladen-Menü
    %p
      Nur am 10.10.16
      %br/
      Unsere Küchencheffin serviert ein 6-Gang-Menü rund um die ganze Welt der Schokolade.
      %br
      79,- € pro Person.

    = booking subject: "World of Chocolate"
    %p
      .fa.fa-minus

    %h3 Spirit
    %h4 Edelbrand-Degustations-Menü
    %p
      Nur am 07.11.16
      %br/
      Begleitet von einem Edelbrand-Sommelier, servieren wir ein
      6-Gang Menü mit korrespondierenden Edelbränden aus der Region. Edelbrände pro Gang inklusive.
      %br
      99,- € pro Person.

    = booking subject: "Spirit"

    %p
      .fa.fa-minus

    = link_to 'Hier gehts zu unseren à la carte Angeboten', '/alacarte.html'
